doctype html
html
  include ../includes/head.pug
  body
    h1 Headings

    .ui
      h1 Heading 1 with #[small small] text and #[a(href='#') as well]
      h2 Heading 2 with #[small small] text and #[a(href='#') as well]
      h3 Heading 3 with #[small small] text and #[a(href='#') as well]
      h4 Heading 4 with #[small small] text and #[a(href='#') as well]
      h5 Heading 5 with #[small small] text and #[a(href='#') as well]
      h6 Heading 6 with #[small small] text and #[a(href='#') as well]